.colum{
    height: 300px;
    margin: 6%;
    display: flex;
    justify-content: center;
}
.cardimg{
    height: 90%;
}
.cardrow{
    height: 100%;
}
@media only screen and (max-width: 600px) {
    .colum{
        height: 400px;
        margin: 6%;
    }
}